Source: elixir-lang
Section: interpreters
Priority: optional
Maintainer: Antonio Terceiro <terceiro@debian.org>
Uploaders: Evgeny Golyshev <eugulixes@gmail.com>
Build-Depends: debhelper (>= 9~),
               erlang-dev (>= 1:18),
               erlang-eunit (>= 1:18),
               erlang-parsetools (>= 1:18),
               git,
               rebar
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-elixir/elixir.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-elixir/elixir.git
Homepage: http://elixir-lang.org/
Testsuite: autopkgtest

Package: elixir
Architecture: all
Depends: erlang-base (>= 1:18) | erlang-base-hipe (>= 1:18),
         ${misc:Depends}
Description: functional meta-programming aware language
 Elixir is a functional meta-programming aware language intended primarily for
 developing distributed, fault-tolerant and scalable systems. Elixir source
 code is compiled to bytecode for the Erlang Virtual Machine (EVM), and can use
 Erlang libraries transparently.
